:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #f7a6b9 -20%, black 50%);
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
  background: black;
  transition: all ease 0.5s;
}
.header--logo {
  display: flex;
  align-items: center;
}

.header--logo a {
  text-decoration: none;
}

.header--logo img {
  width: 200px;
  height: auto;
  cursor: pointer;
}

.header--category {
  color: #f7a6b9;
  text-decoration: none;
  font-size: 20px;
  margin: 20px;
}

.header--category--genres {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding-top: 5px;
}

.header--searchbar {
  width: 100%;
  max-width: 20%;
  height: 50%;
  background: #f7a6b9;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding-right: 1%;
  padding-left: 10px;
  margin-left: auto;
}

.header--searchbar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 15px;
  color: #fff;
}

.header--searchbar ::placeholder {
  color: #fff;
}

.header--searchbar button img {
  width: 25px;
  transition: filter 0.3s;
}

.header--searchbar button {
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
}

.header--searchbar button:hover img {
  filter: invert(100%) sepia(50%) saturate(50%);
}
/*anime details*/
.container--anime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 500px;
  padding: 0 30px 0 30px;
  margin: 90px 50px;
}
.container--anime--image {
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container--anime--image img {
  width: 420px;
  height: 594px;
  transform: scale(1);
  transition: all ease 0.2s;
  border-radius: 5px;
  object-fit: cover;
  object-position: 100% 30%;
}
.container--anime--image img:hover {
  transform: scale(1.05);
}

.container--anime--details {
  color: #fff;
  background-color: transparent;
  width: 60%;
  height: 500px;
  
}
.container--anime--details .infomation {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 0;
}
.container--anime--details .infomation .p {
  padding: 0 10px 0 10px;
}
.container--anime--details .title  {
  color: #f7a6b9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  background-color: transparent;
  margin-bottom: 20px;
}
.container--anime--details .title{
  padding: 0 10px 0 10px;
  font-size: 16px;
}
.container--anime--details .synopsis {
  text-align: left;
  font-size: 16px;
}
.container--anime--details .infomation {
  text-align: left;
  font-size: 16px;
}

.container--anime--details .rating {
  display: flex;
  flex-direction: row;
  margin: 0 30px 0 30px;
  align-items: center;
}
.container--anime--details .rating p {
  padding-top: 10px;
}
.container--anime--details .rating-star {
  padding-left: 20px;
  font-size: 30px;
  color: #f7a6b9;
}

.container--anime--details .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}
.container--anime--details .logo img {
  width: 230px;
}

/*review*/
.container--review {
  margin: 0 20px 20px 20px;
  color: #fff;
  background-color: transparent;
}
.container--review .heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.container--review .heading p {
  padding-top: 15px;
  margin-left: 5px;
}
.container--review--box {
  background: #ffffff38;
  margin: 0 20px 20px 0;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}
.container--review--box .name {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: #f7a6b9;
}
.container--review--box .name p {
  padding-left: 30px;
  color: #fff;
}
.container--review--box .comment {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  font-size: 20px;
  width: 100%;
  height: 50px;
}

.container--review--box .rating {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  color: #f7a6b9;
}
.container--review--box .rating-star {
  padding-left: 20px;
  font-size: 30px;
  color: #f7a6b9;
}
.container--review--box .count {
  position: absolute;
  right: 50px;
  transform: translateY(-100%);
  font-size: 40px;
  color: #f7a6b9;
  font-weight: bold;
}

/*comment*/
.container--comment {
  margin: 20px;
  color: #fff;
}
.container--comment h1 {
  margin-bottom: 20px;
}
.container--comment--box {
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 5px;
}
.container--comment--box .typename {
  width: 100%;
  height: 50px;
  background: #ffffff38;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.container--comment--box .typecomment {
  width: 100%;
  height: 100px;
  background: #ffffff38;
  border-radius: 10px;
  margin: 20px 0 20px 0;
  display: flex;
  padding-top: 20px;
}
.container--comment--box input,
textarea {
  background: transparent;
  width: auto;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  color: #fff;
  padding-left: 20px;
}
.container--comment--box ::placeholder {
  color: #fff;
}
.container--comment--box .rating {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
}
.container--comment--box .rating-star {
  font-size: 30px;
  color: #f7a6b9;
  padding-left: 20px;
}
.container--comment--box .button {
  position: absolute;
  right: 40px;
  transform: translateY(-80%);
}
.container--comment--box button {
  font-size: 25px;
  font-weight: bold;
  color: #f7a6b9;
  border: 3px solid #f7a6b9;
  background: transparent;
  border-radius: 50px;
  padding: 10px 16px;
  cursor: pointer;
  transition: all ease 0.5s;
}
.container--comment--box button:hover {
  color: #ffffff;
  background: #ff0582;
  transition: all ease 0.5s;
}
/*youtube*/
.trailer-container {
  border: 2px solid #ecccdc; 
  border-radius: 10px; 
  padding: 10px; 
  background-color: #f7a6b9; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เพิ่มเงากรอบ */
}

/*footer*/
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: #f7a6b9;
  text-align: center;
  background-color: rgb(0, 0, 0);
  transition: all ease 0.5s;
}

footer p {
  padding: 20px;
  background: black;
}