<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="pinkflix-review.css" />
  <script src="https://kit.fontawesome.com/4ea8c7073e.js" crossorigin="anonymous"></script>
  <title>Pinkflix reviews</title>
</head>

<body>
  <header>
    <div class="header--logo">
      <a href="/">
        <img src="/images/round-logo.png" alt="img" />
      </a>
    </div>
    <a class="header--category" href="/">หมวดหมู่</a>
    <a class="header--category--genres" href="/">แฟนตาซี</a>
    <form action="" class="header--searchbar">
      <input type="text" placeholder="Search.." />
      <button type="submit">
        <img src="/images/search.png" alt="img" />
      </button>
    </form>
  </header>


  //-------------------------------------------------------------------------------------

  <div class="container--review">
    <!---container--review-->
    <div class="heading">
      <h1>Reviews</h1>
      <p>(31)</p>
    </div>

    <div class="container--review--box">
      <!---container--review--box-->
      <div class="topBox">
        <div class="name">
          <h3>Name</h3>
          <p>: user123.happy</p>
        </div>

        <div class="icon">
          <i class="fa-solid fa-pen-to-square"></i>
          <i class="fas fa-trash"></i>
        </div>
      </div>

      <div class="comment">
        <p>สนุกมากๆๆๆๆๆๆๆๆๆ รอซีซั่นสองเลย</p>
      </div>

      <div class="rating">
        <h3>Rating</h3>
        <div class="rating-star">★★★★★<!-------ดาว 5 ดวง--></div>
      </div>
      <div class="count">
        <p>#1</p>
      </div>
    </div>
    <!---container--review--box-->

    <div class="container--review--box">
      <!---container--review--box2-->
      <div class="topBox">
        <div class="name">
          <h3>Name</h3>
          <p>: user123.happy</p>
        </div>

        <div class="icon">
          <i class="fa-solid fa-pen-to-square"></i>
          <i class="fas fa-trash"></i>
        </div>
      </div>
      <div class="edit-mode">
        <div class="edit-fields">
          <textarea class="edit-comment" placeholder="Edit Comment..."></textarea>
        </div>
        <div class="edit-buttons">
          <button class="cancel-button">Cancel</button>
          <button class="save-button">Save</button>
        </div>
      </div>

      <div class="rating">
        <h3>Rating</h3>
        <div class="rating-star">★★★★★<!-------ดาว 5 ดวง--></div>
      </div>
      <div class="count">
        <p>#2</p>
      </div>
    </div>
    <!---container--review--box2-->
  </div>
  <!---container--review-->

  <div class="container--comment"> <!---container--comment-->
    <h1>Comment</h1>
    <div class="container--comment--box"> <!---container--comment--boxt-->
      <div class="typename">
        <input type="text" placeholder="Type name..." />
      </div>
      <div class="typecomment">
        <textarea>Type comment...</textarea>
      </div>
      <div class="rating">
        <h3>Rating</h3>
        <div class="rating-star">☆☆☆☆☆<!-------ดาว 5 ดวง--></div>
      </div>
      <div class="button">
        <button type="button">POST</button>
      </div>

    </div> <!---container--comment--boxt-->
  </div> <!---container--comment-->


  </div>

  <footer>
    <p>Create By: Lugie, KwanJai, TinTin, KwaKwa</p>
  </footer>
</body>

</html>